{% extends "main.html" %}

{% block content %}

<form method="POST" action="/Kontenverwaltung/Geldeingaenge/Entfernen">

<h1>M&ouml;chten sie den Geldeingang</h1>
<h1>vom <font color=red>{{ Datum|date:"j. F Y" }}</font> &uuml;ber <font color=red>{{ Betrag|floatformat:2 }} &euro;</font><br/>
und alle zugeh&ouml;rigen Zuteilungen</h1>
<h1>wirklich l&ouml;schen ?</h1>

<input type=hidden name=ID value="{{ ID }}" />
<br/><br/>

<input type=submit value="Ja, unwiderruflich l&ouml;schen" style="width:200px;" />

<input type=button value="Nein, zur&uuml;ck zur &Uuml;bersicht" onclick="javascript:window.location.href='Liste';" style="width:200px;" />

</form>

{% endblock %}
