{% extends "main.html" %}

{% block content %}

<table class='tablestyle2' cellpadding=2 cellspacing=0>
	<tr valign=top><td>
		<table class='tablestyle_inner' cellspacing=1 cellpadding=12>
			<tr>
				<td colspan=11 class=tableheader>
				<h2>Auszahlungen</h2>
				</td>
			</tr>
			<tr>
				<th class=tableheader>Datum</th>
				<th class=tableheader>Klient</th>
				<th class=tableheader>Betrag</th>
				<th class=tableheader>&nbsp;</th>
			</tr>
{% for A in Auszahlungen %}
			<tr class=evenrow>
				<td align=center>{{ A.datum|date:"j. F Y" }}</td>
				<td><a href="/Kontenverwaltung/Betreute/Details?ID={{ A.betreuterID }}">{{ A.betreuterName }}</a></td>
				<td>{% autoescape off %}{{ A.betrag }}{% endautoescape %}</b></td>
				<td>{% if not Sekretariat %}<a href="/Kontenverwaltung/Auszahlungen/Entfernen?ID={{ A.id }}">{% endif %}<img border=0 src="/media/cancel.png" height=32 /></a></td>
			</tr>
{% endfor %}
			<tr>
				<td colspan=6>
				<i>{{ Anzahl }} Auszahlungen.</i>
				</td>
			</tr>
		</table>
	</td></tr>
</table>

{% endblock %}
