{% extends "main.html" %}

{% block content %}

<table class='tablestyle2' cellpadding=2 cellspacing=0>
	<tr valign=top><td>
		<table class='tablestyle_inner' cellspacing=1 cellpadding=12>
			<tr>
				<td colspan=11 class=tableheader>
				<img border=0 src="/Django/carpediembanking/static/Sozialarbeiter.png" height=48 style="vertical-align:center"/>
				<h2>{{ vorname }} {{ nachname }}</h2>
				<small>* {{ geburtstag|date:"j. F Y" }}</small>
				{% if Sekretariat %}<h3>Betreuer: <i>{{ sozialarbeiter }}</i></h3>{% endif %}
				</td>
			</tr>
			<tr>
				<td colspan=3 align=right><b>Aktueller Kontostand:&nbsp;&nbsp;</b></td>
				<td class=oddrow>{% autoescape off %}{{ kontostand }}{% endautoescape %}</td>
			</tr>
			<tr>
				<th class=tableheader>Datum</th>
				<th class=tableheader>Vorgang</th>
				<th class=tableheader>Details</th>
				<th class=tableheader>Betrag</th>
				<th class=tableheader>&nbsp;</th>
			</tr>
{% for V in Vorgaenge %}
			<tr class={% cycle 'oddrow' 'evenrow' %}>
				<td align=center>{{ V.datum|date:"j. F Y" }}</td>
				<td align=center>{{ V.vorgang }}</td>
				<td><pre>{{ V.details }}</pre></td>
				<td align=right>{% autoescape off %}{{ V.betrag }}{% endautoescape %}</td>
				<td>{% if not Sekretariat %}<a href="{{ V.link }}">{% endif %}<img border=0 src="/Django/carpediembanking/static/cancel.png" height=32 /></a></td>
			</tr>
{% endfor %}
			<tr>
				<td><i>{{ Anzahl }} Vorg&auml;nge.</i></td>
				<td colspan=2 align=right>
					Kontostand zu Anfang war
				</td>
				<td class=oddrow>
					{% autoescape off %}{{ startkontostand }}{% endautoescape %}
				</td>
			</tr>
		</table>
	</td></tr>
</table>

{% endblock %}
