{% extends "Intranet.html" %}

{% block Umsatzframe %}

<form method="POST">

<table cellpadding=5 cellspacing=0 style="background:#ff8c00;">
	<tr>
		<td>
			<h3>Neuer &Uuml;berweisungsauftrag</h3>
		</td>
	</tr>
	<tr>
		<td style="background:white;" rowspan=7> </td>
		<td>Empfänger: Name, Vorname / Firma (max. 27 Stellen)</td>
		<td><input type=text name="Empfaenger" style="width:200px;" /></td>
	</tr>
	<tr>
		<td>
		<input type=button value="Zur&uuml;ck" onclick="javascript:window.location.href='/';" />
		<input type=button value="Speichern" />
		</td>
	</tr>
</table>

</form>

{% endblock %}
