{% extends "Intranet.html" %}

{% block Umsatzframe %}

<h1>Klientenkasse</h1>
<h2>Ums&auml;tze</h2>

<div class=Funktionen>
<a href="Zuteilung">Zuteilung</a>
</div>

<br/>

<style type="text/css">
tr.Umsatz:hover {
	background: #4cbafb;
	font-color: #234956;
	}
</style>

<table border=0 cellspacing=0 cellpadding=10 bgcolor="#dee7ec">
	<tr>
		<th align=center style="width:180px;">Datum</th>
		<th align=center style="width:217px;">Vorgang</th>
		<th align=right style="width:100px;">Betrag</th>
		<th></th>
	</tr>
	<tr class=Umsatz>
		<td align=center>{{ Heute|date:"j. F Y" }}</td>
		<td align=center>Aktuelles Saldo</td>
		<td align=center>{% autoescape off %}{{ AktuellesSaldo }}{% endautoescape %}</td>
		<td><img src="/media/transparent.png" border=0 width=28 /></td>
	</tr>
	<tr>
		<td colspan=4><hr/></td>
	</tr>
{% for Ergebnis in Ergebnisse %}
	<tr class=Umsatz>
		<td align=center>{{ Ergebnis.datum|date:"j. F Y" }}</td>
		<td align=center>{{ Ergebnis.vorgang }}</td>
		<td align=center>{% autoescape off %}{{ Ergebnis.betrag }}{% endautoescape %}</td>
		<td align=center>
			<a href="Entfernen?Typ={{ Ergebnis.typ }}&ID={{ Ergebnis.id }}&returnto=Klientenkasse" onClick="return confirm('Diese {{ Ergebnis.typ }} wirklich löschen ?')">
			<img src="/media/cancelpassive.png" border=0 width=28 id="{{ Ergebnis.typ }}{{ Ergebnis.id }}" onMouseOver="javascript:raise('{{ Ergebnis.typ }}{{ Ergebnis.id }}');" onMouseOut="javascript:lower('{{ Ergebnis.typ }}{{ Ergebnis.id }}');" />
			</a>
		</td>
	</tr>
{% endfor %}
	<tr>
		<td colspan=4 align=right><i>{{ Anzahl }} Vorg&auml;nge.</i><br/><hr/></td>
	</tr>
	<tr class=Umsatz>
		<td align=center>{{ Startdatum|date:"j. F Y" }}</td>
		<td align=center>Anfangssaldo</td>
		<td align=center>{% autoescape off %}{{ Startsaldo }}{% endautoescape %}</td>
		<td></td>
	</tr>
</table>

{% endblock %}
