<html>

{% include "Kopf.html" %}

<body style="overflow:scroll;">
{% include "Seitenanfang.html" %}

{% include "Hauptmenu.html" %}

<center>
	<div class="tabs">
	<a {% block MenuIntranet %}{% endblock %} href="/Kontenverwaltung/Intranet/">Intranet</a>
	<a {% block MenuGirokonto %}{% endblock %} href="/Kontenverwaltung/Girokonto/">Girokonto</a>
	</div>
</center>

	<table class="logoutBar" cellspacing=1>
	<tr>
		<td>&nbsp;</td>
	</tr>
	</table>

<center>

<script type="text/javascript">
function raise( id ) {
	document.getElementById(id).src="/media/cancel.png";
	}
function lower( id ) {
	document.getElementById(id).src="/media/cancelpassive.png";
	}
</script>

	<table cellpadding=0 cellspacing=0>
	<tr>
		<td align=center>
			<br/>
			{% if Nachrichtenbox %}
			<div id='msgbox'><div class='note_msg'>{% autoescape off %}{{ Nachricht }}{% endautoescape %}</div></div>
			{% endif %}
			{% if Fehlerbox %}
			<div id='msgbox'><div class='err_msg'>{% autoescape off %}{{ Fehler }}{% endautoescape %}</div></div>
			{% endif %}

			<br/><br/>

			{% block Seite %}{% endblock %}

			<br/><br/>
		</td>
	</tr>
	</table>

</center>

<table style="
	padding-right: 1em;
	background: #dee7ec;
	color: black;
	border-top: 1px solid #8cacbb;
	border-bottom: 1px solid #8cacbb;
	width: 100%;">
	<tr>
		<td align=right>Abgerufen am {% now "j. F Y H:i" %} Uhr</td>
	</tr>
</table>

<br/><br/>

{% include "Fusszeile.html" %}
</body>

</html>
