{% extends "main.html" %}

{% block content %}

<form method="POST" action="/Kontenverwaltung/Geldeingaenge/Neu">

<center>
<table class='tablestyle2' cellpadding=2 cellspacing=0>
	<tr valign=top><td>
		<table class='tablestyle_inner' cellpadding=7>
			<tr>
				<td colspan=2 class=tableheader valign=center><h3>Neuen Geldeingang verbuchen</h3></td>
			</tr>
			<tr>
				<td class='label'>Geldgeber:</td>
				<td><input name="Geldgeber" type=text class='textbox' value="{{ Geldgeber }}" /></td>
			</tr>
			<tr>
				<td class='label'>Betrag:</td>
				<td><input name="Betrag" type=text class='textbox' value="{{ Betrag }}" /></td>
			</tr>
			<tr>
				<td class='label'>Verwendungszweck:</td>
				<td><input name="Verwendungszweck" type=text class='textbox' value="{{ Verwendungszweck }}" /></td>
			</tr>
			<tr>
				<td colspan=2 align=right>
				<input type=button value="Abbrechen, zur&uuml;ck zur &Uuml;bersicht" onclick="javascript:window.location.href='/Kontenverwaltung/Geldeingaenge/Liste';" />
				<input type=submit value="Speichern" />
				</td>
			</tr>
		</table>

	</td>
	</tr>
</table>
</center>

</form>

<script language='JavaScript' type='text/javascript'>
	document.forms[0].{{ Fokus }}.select();
	document.forms[0].{{ Fokus }}.focus();
</script>

{% endblock %}
