{% extends "main.html" %}

{% block content %}

<table class='tablestyle2' cellpadding=2 cellspacing=0>
	<tr valign=top><td>
		<table class='tablestyle_inner' cellspacing=1 cellpadding=12>
			<tr>
				<td colspan=11 class=tableheader>
				<h2>Forderungen</h2>
				</td>
			</tr>
			<tr>
				<th class=tableheader>Erhebungsdatum</th>
				<th class=tableheader>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Schuldner&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
				<th class=tableheader>Kreditor</th>
				<th class=tableheader>Notiz</th>
				<th class=tableheader>Gesamtforderung</th>
				<th class=tableheader>Noch offen</th>
				<th class=tableheader>&nbsp;</th>
			</tr>
{% for F in Forderungen %}
			<tr class=evenrow>
				<td align=center>{{ F.erhebungsdatum|date:"j. F Y" }}</td>
				<td align=center><a href="/Kontenverwaltung/Betreute/Details?ID={{ F.schuldner }}">{{ F.schuldnerName }}</a></td>
				<td><pre>{{ F.kreditor }}</pre></td>
				<td><pre>{{ F.notiz }}</pre></td>
				<td align=right>{% autoescape off %}{{ F.gesamtforderung }}{% endautoescape %}</td>
				<td align=right>{% autoescape off %}{{ F.offeneforderung }}{% endautoescape %}</td>
				<td>{% if not Sekretariat %}<a href="/Kontenverwaltung/Forderungen/Entfernen?ID={{ F.id }}">{% endif %}<img border=0 src="/media/cancel.png" height=32 /></a></td>
			</tr>
	{% for T in F.tilgungen %}
			<tr class=oddrow>
				<td></td>
				<td align=center><img border=0 src="/media/Pfeil.png" height=32 /></td>
				<td></td>
				<td align=center>{{ T.datum|date:"j. F Y" }}</td>
				<td align=right>{% autoescape off %}{{ T.betrag }}{% endautoescape %}</td>
				<td></td>
				<td>{% if not Sekretariat %}<a href="/Kontenverwaltung/Tilgungen/Entfernen?ID={{ T.id }}">{% endif %}<img border=0 src="/media/cancel.png" height=32 /></a></td>
			</tr>
	{% endfor %}
	{% if not Sekretariat %}
			<tr>
				<td></td>
				<td align=center><a href="/Kontenverwaltung/Tilgungen/Neu?Forderung={{ F.id }}"><img border=0 src="/media/Pfeil.png" height=32 /></a></td>
				<td colspan=5></td>
			</tr>
	{% endif %}
{% endfor %}
			<tr>
				<td colspan=7>
				<i>{{ Anzahl }} Forderungen.</i>
				</td>
			</tr>
		</table>
	</td></tr>
</table>

{% endblock %}
