<table class=bottomBar><tbody><tr></tr></tbody></table>

<table class='footer'>
	<tr>
		<td>Carpe Diem e.V. Berlin | Delbr&uuml;ckstra&szlig;e 27 | 12051 Berlin | Telefon: 030/61284777 | Fax: 030/61284866 | Email: <a class=none href="mailto:verwaltung@carpe-diem-berlin.de">verwaltung@carpe-diem-berlin.de</a></td>
	</tr>

	<tr>
		<td>	Diese Umgebung ist freie Software im Sinne der GNU Affero General Public License Version 3. Author: <a class=none href="mailto:matthias.bock@hu-berlin.de">Matthias Bock &lt;matthias.bock@hu-berlin.de&gt;</a>.<br/>
			Alle Piktogramme sind freie Vektorgrafiken bzw. Derivate freier Vektorgrafiken von Wikimedia Commons.</td>
	</tr>
	<tr>
		<td align=right>
		<a href="/Kontenverwaltung/admin/">Benutzer</a>
		<a href="/phpmyadmin/index.php?db=Django">Datenbank</a>
		</td>
	</tr>
</table>

<br/><br/>

</div>

<br/><br/>

